* {
  margin: 0;
}
header {
  font-family: "Nerko One", cursive;
  font-weight: lighter;
  font-size: 30px;
  color: #ff9614;
  border: 10px;
  text-shadow: 1px 1px 3px grey;
  text-align: center;
  background-color: white;
}
body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #f6f5f3;
}

.container {
  width: 480px;
}
.row {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
h3 {
  font-size: small;
  color: #a1a2a1;
  font-weight: lighter;
  margin: 1rem;
}

h2 {
  color: #4e3969;
  font-weight: 800;
  margin: 1rem;
}
h4,
p {
  margin: 10px 0px 10px 30px;
}
